# Python
__pycache__/
*.py[cod]
*$py.class
backend/venv/
backend/__pycache__/
backend/*.log
*.env

# Node / React
node_modules/
frontend/node_modules/
frontend/dist/
frontend/*.log
.DS_Store

# Media Storage
OmniClip_Storage/local_downloads/*
OmniClip_Storage/edited_clips/*
OmniClip_Storage/logs/*
OmniClip_Storage/*.db
OmniClip_Storage/*.db-wal
OmniClip_Storage/*.db-shm
!OmniClip_Storage/**/.gitkeep
backend/models/campplus_sv.onnx
